<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="{{asset 'css/bootstrap.css'}}" />
    <link type="text/css" rel="stylesheet" href="{{asset 'css/bootstrap-responsive.css'}}" />
    <link type="text/css" rel="stylesheet" href="{{asset 'css/pilcrow.css'}}" />
    <link type="text/css" rel="stylesheet" href="{{asset 'css/materialdark.css'}}" />
    <link type="text/css" rel="stylesheet" href="{{asset 'css/style.css'}}" />
  </head>
  <body>
    <div id="header">
      <h1>Express &lt;<span class="slash">/</span>&gt; HTM<span class="slash">X</span> Components</h1>
    </div>
    <div id="doc" class="container-fluid">
      <div class="row-fluid">
        <div id="sidebar" class="span3">{{~> sidebar }}</div>
        <div id="content" class="span8 main">{{~> content}}</div>
      </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{asset 'js/bootstrap.min.js'}}"></script>
  </body>
</html>
