body {
  background-color: #f6f6f6;
  padding-top: 0;
  margin-top: 0;
}
a {
  color: #3366cc;
}
a:hover {
  color: #99aaff;
}
#header {
  height: 80px;
  background: #2b2b2d;
  color: #f6f6f6;
  padding: 0 20px;
  margin: 0;
}
#header h1 {
  margin: 0;
  padding: 18px 10px;
}
.slash {
  color: #66bbff;
}
#content h1 {
  display: none;
}
h2 {
  margin-top: 1em;
}
h3 {
  margin-top: 1.5em;
  border-top: 1px solid #ccc;
}
h4,
h5,
h6 {
  margin-top: 1.2em;
}
.main {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 40px;
}
#sidebar,
#content {
  height: calc(100vh - 80px);
  overflow: hidden auto;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 32px;
}
#sidebar {
  width: 300px;
}
#sidebar ul {
  padding-top: 30px;
}
.container {
  width: 1100px;
}
.nav-list {
  font-size: 17px;
  width: 300px;
  list-style: disc;
}
.nav-list li {
  margin-bottom: 5px;
}
.nav-header {
  font-size: 17px;
  text-transform: none;
  line-height: 30px;
}
.sidebar-header-top {
  font-weight: bold;
  list-style: none;
  margin-left: -5px;
}
.sidebar-header-1 {
  display: none;
}
.sidebar-header-2 {
  margin-left: 15px;
}
.sidebar-header-3 {
  margin-left: 30px;
}
.sidebar-header-4 {
  margin-left: 45px;
  list-style: "- ";
}
.sidebar-header-5 {
  margin-left: 60px;
  list-style: "- ";
}
.sidebar-header-6 {
  margin-left: 75px;
  list-style: "- ";
}
